@media (max-width:993px) and (min-width:601px){.w3-modal-content{width:600px}.w3-hide-medium{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:600px){.w3-sidebar.w3-collapse{display:none}.w3-main-medium{margin-left:0!important;margin-right:0!important}}
.w3-main-medium,#main-medium{transition:margin-left .4s}
.w3-opacity-extra-min{opacity: 0.95}
.w3-modal-flex{z-index:3;display:none;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
